.cell {
  height: 70px;
  width: 70px;
  border: solid black 2px;
  margin: 0.1em;
  padding: 0.5em;
  background-color: tan;
  color: white;
  width: 120px;
  height: 120px;
  font-size: 50px;
  text-align: center;
  color: black;
}

#samuel {
  display: fill;
  width: 70px;
  height: 60px;
}

#josue {
  width: 60px;
  height: 70px;
}

body {
  background-color: lightblue;
}
